<html lang="en">

<body>


  <header>


    <div class="view">


      <div class="mask rgba-gradient align-items-center">

        <div class="container">

          <div class="row">


            <div class="col-md-6 white-text text-center text-md-left mt-xl-5 mb-5  fadeInLeft" data-wow-delay="0.3s">
              <h1 class="h1-responsive font-weight-bold mt-sm-5 ">Reserve your doctor with our clinic app</h1>
              <hr class="hr-light">
              <h6 class="mb-4 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi fuga
                nesciunt
                dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non animi ea dolor molestiae
                iste.</h6>
              <a routerLink='/reserve'><button type="button"
                  class="btn btn-primary btn-lg text-light font-weight-bold">Reservation</button></a>

            </div>

          </div>

        </div>

      </div>

    </div>

  </header>



</body>

</html>