<div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>MEDICAL CARE</h3>
            </div>

            <ul class="list-unstyled components">
                
                <li class="active">
             <a routerLink="clinicadmin" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">   <i class="fas fa-tachometer-alt"></i> Dashboard </a>
                    
                </li>
                <li>
                    <a routerLink="clinicadmin"><i class="fas fa-eject"></i> About</a>
                </li>
            
                <li>
                    <a routerLink="clinicadmin"><i class="fa fa-globe fa-lg"></i> Services </a>
                </li>
                <li>
                    <a routerLink="clinicadmin"><i class="fa fa-users fa-lg"></i> Users</a>
                </li>
                <li>
                        <a routerLink="clinicadmin"><i class="fa fa-users fa-lg"></i> Contact</a>
                    </li>
            </ul>

           
        </nav>

        <!-- Page Content  -->
        <div id="content">
                <section class=" container ">
                        <h2 class="mt-5">Patients Data</h2>
                        <table class="table table-bordered">
                                <thead>
                                  <tr>
                                    <th scope="col">RequestID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">E-mail</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Doctor</th>
                                    <th scope="col">Detalis</th>
                                
                                  </tr>
                                </thead>
                                <tbody>
                                        <tr *ngFor="let patient of data">
                                             <td>{{patient.requestID}}</td>
                                              <td>{{patient.name}}</td>
                                              <td>{{patient.email}}</td>
                                              <td>{{patient.age}}</td>
                                              <td>{{patient.doctor}}</td>
                                              <td class="mr-5">
                                        
                                                <button type="button" class="btn btn-primary" routerLink='/edit/{{patient.requestID}}'  >Detalis</button>
                                              </td>  
                                       
                                         
                                             
                                </tbody>
                              </table>
                        </section>
            
        </div>

            
    